@import './variables.scss'; 

* {
    margin: 0; 
    padding: 0; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}


.container {

    min-height: 100vh; 
    display: grid; 
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas: "nav header"
        "nav content"
    ;
    header {
        grid-area: header;
        h1 {
            text-align: center;
        }
    }

    .navigation {
        font-size: 2rem;
        height: 100%; 
        background-color:$primary-col-1; 
        color: $primary-col-2; 
        grid-area: nav;
        padding: 1.5rem;
        align-self: center;
        display: flex; 
        flex-direction: column;
        gap: 25px;


        button {
            border-radius: 5px; 
            border: 1px solid transparent; 
            cursor: pointer;
            text-transform: capitalize;

            &:hover {
                border: 1px solid black;
                font-weight: bold;
            }
        }


        .warning-btn {
            background-color: $warning-col;
            color: white; 
            font-weight: bold;  
            justify-self: flex-end;
            text-transform: uppercase;

            &:hover {
                background-color: $warning-col-2;
            }
        }
    }

    

    .content {
        grid-area: content;
        display: grid; 
        justify-items: center;
        gap: 2rem;
        grid-template-rows: max-content 1fr;

        >div {
            width: 90%;
        }
    }

    ul {
        display: flex; 
        flex-direction: column;
        gap: 10px; 
    }

    li {
        list-style-type: none;
        cursor: pointer;
        position: relative;
        margin-left: 1rem; 

        &:hover {
            &:before {
                position: absolute; 
                content: '//'; 
                font-weight: bold;
                left: -1rem; 
                top: 0; 

            }
        }
    }

    .active {
        font-weight: bold;
        &:before {
            position: absolute; 
            content: '//'; 
            font-weight: bold;
            left: -1rem; 
            top: 0; 

        }
    }


}


.add-item, #project-popup  {
    position: absolute; 
    top: 1rem; 
    left: 1rem; 
    right: 1rem; 
    bottom: 1rem; 
    background-color: $primary-col-2;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
    padding: 2rem;


    form {
        margin: 1rem 0;
        display: grid; 
        gap: 20px; 
        label {
            display: grid; 
        }
    }

    button {
        margin: 1rem 1rem 1rem 0;
    }
}

.item-container {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem; 
    margin-bottom: 1rem; 
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
}

.single-item-display {
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.25);
    width: 80%; 
    margin: 1rem auto;

    display: grid;
    grid-template-areas: "title . date"
        "priority . . "
        "desc desc desc"
        "checklist . . "
        "notes . . "
        "btns btns btns"
    ;
    gap: 20px; 

    .title {
        grid-area: title; 
    }

    .date {
        grid-area: date;

    }
    .priority {
        grid-area: priority;
    }
    .desc {
        grid-area: desc; 
    }
    .checklist {
        grid-area: checklist; 
    }
    .notes {
        grid-area: notes;
    }
    .btn-group {
        grid-area: btns; 
        justify-self: center;
        display: flex; 
        gap: 20px; 
    }
    
}