$primary-col-1: rgb(63, 62, 73); 
$primary-col-2: rgb(255,255,255); 
$warning-col: rgb(204, 51, 0); 
$warning-col-2: rgb(233, 88, 39); 
$add-col: rgb(41, 219, 112); 
$add-col-2: rgb(23, 156, 76); 
$view-col: rgb(75, 100, 200); 
$view-col-2: rgb(32, 57, 155); 
$complete-col: rgb(154, 200, 75); 
$complete-col-2: rgb(105, 146, 34);  
$edit-col: rgb(200, 154, 75); 
$edit-col-2: rgb(165, 119, 39); 